.white {
	position: relative;
}

@media (max-width: 800px) {

    #wrapper {
        width: 100%;
        color: red;
    }

    #header {
    	height: 100%;
		background-position: 100% 100%;
		background-size: 100% 100%;
		width: 100%;
    }

    .white {
    	background-position: 100% 100%;
    	background-size: 100% 100%;
    	width: 100%;
    }

}