/* In order to help me understand page layout*/
* {
	border: 1px solid red !important;
}

body {
		margin: 1em;
	}

@media (max-width: 1000px) {

    #wrapper {
        width: 100%;
    }

    .main {
    	background-size: 100% 100%;
    }

    #header {
    	height: 100%;
		background-position: 100% 0%;
		background-size: 100% 85%;
		width: 100%;
    }
    /*After I have this version clean, I want to make a smaller phone version that puts the careline
    underneath the logo*/
    .white {
    	background-position: 0% 0%;
		background-size: 100% 100%;
		width: 63%;
		height: 6em;
    	margin: 1em 0em 0em 1.2em;
    	position: relative;
    	float: left;
    }

    .embelem {
    	background-size: auto 100%;
    	height: 150%;
		background-position: 0% 20%;
		margin: -3% 1% 1% 3%;
    	width: 16%;
    }

    .white .logo {
    	height: 100%;
		width: 100%;
		background-position: 60% 50%;
		background-size: 82%;
		margin: 0;
    }

    #header .careline {
		font-size: 0.8em;
		margin: 3em 2em 0em 0em;
		width: 27%;
	}

    #header div.menu {
    	background-size: 99.8% 91%;
    	position: relative;
    	margin: 0em 0px 0px -0.2em;
    	width: 101.1%;
    	overflow: hidden;
    }

    .menu .module ul.menu {
    	margin: -0.7% 5% 0 12%;
    }

    .menu .module ul.menu li {
    	margin-top: 0.5em;
    }

    .item42, .item43 {
    	display: none;
    }

    div.modheader.standard {
    	margin: -2em 1.5% -2% 1.5%;
    	background-size: 15%;
    	height: 2em;
    }

    .homeTop {
    	background-size: 100% 100%;
		margin: 0;
		background-position: 100% 100%;
		width: 100%;
		height: 19.5em;
    }

    .homeTopContainer {
    	width: 97%;
    }

    .c700.first {
    	width: 99%
    	margin-bottom: 1em;
    }

    .c220.left {
    	height: 4em;
    	width: 97%;
    	clear: left;
    	margin: 1em 0 0 0;
    	font-size: 14px;
    }

    .modulehomeSideMenu {
    	height: 100%;
    	overflow: hidden;
    }

    .modulehomeSideMenu ul.menu {
    	width: 100%;
    	font-size: 85%;
    }

    .modulehomeSideMenu ul li {
    	float: left;
    }

    .modulehomeSideMenu ul li.item61 {
    	width: 28%;
    }

    .modulehomeSideMenu ul li.item62 {
    	width: 32%;
    }

    .modulehomeSideMenu ul li.item63 {
    	width: 40%;
    }

    .modulehomeSideMenu ul li span.separator {
    	display: none;
    }

    .c940.first {
    	width: 100%;
    }
    /*shouldn't be necessary once I get rid of that column from the page entirely*/
    .c220.first {
    	display:none;
    }

    .c460.left.homepage {
    	width: 100%;
    	margin: 0;
    }

    .c220.left {
    	height: auto;
    }

    .bottom {
    	background-size: 100%;
    	background-position: 100% 100%;
    }

    .modulecallus, .modulemakeappt {
    	float: left;
    	margin: 0 0 0 1em;
    }

    .footer {
    	background-size: 100%;
    	width: 100%;
    }

    .careline.c380 {
    	font-size: 1.6em;
    	margin: 16px 15px 0 0;
    	width: auto;
    }
}

@media (max-width: 860px) {
	.footer {
		/*Replace background image with gradient*/
		background: #86aa46; /* Old browsers */
		background: -moz-linear-gradient(top,  #86aa46 0%, #65803d 3%, #65803d 40%, #5b7437 63%, #4b5f2d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86aa46), color-stop(3%,#65803d), color-stop(40%,#65803d), color-stop(63%,#5b7437), color-stop(100%,#4b5f2d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #86aa46 0%,#65803d 3%,#65803d 40%,#5b7437 63%,#4b5f2d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #86aa46 0%,#65803d 3%,#65803d 40%,#5b7437 63%,#4b5f2d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #86aa46 0%,#65803d 3%,#65803d 40%,#5b7437 63%,#4b5f2d 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #86aa46 0%,#65803d 3%,#65803d 40%,#5b7437 63%,#4b5f2d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aa46', endColorstr='#4b5f2d',GradientType=0 ); /* IE6-9 */


		/*Original gradient - diagonal*/
		/*background: #4b5f2d; /* Old browsers */
		/*background: -moz-linear-gradient(-45deg,  #4b5f2d 0%, #5b7437 10%, #5b7437 91%, #4b5f2d 100%); /* FF3.6+ */
		/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4b5f2d), color-stop(10%,#5b7437), color-stop(91%,#5b7437), color-stop(100%,#4b5f2d)); /* Chrome,Safari4+ */
		/*background: -webkit-linear-gradient(-45deg,  #4b5f2d 0%,#5b7437 10%,#5b7437 91%,#4b5f2d 100%); /* Chrome10+,Safari5.1+ */
		/*background: -o-linear-gradient(-45deg,  #4b5f2d 0%,#5b7437 10%,#5b7437 91%,#4b5f2d 100%); /* Opera 11.10+ */
		/*background: -ms-linear-gradient(-45deg,  #4b5f2d 0%,#5b7437 10%,#5b7437 91%,#4b5f2d 100%); /* IE10+ */
		/*background: linear-gradient(135deg,  #4b5f2d 0%,#5b7437 10%,#5b7437 91%,#4b5f2d 100%); /* W3C */
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b5f2d', endColorstr='#4b5f2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		/*round the corners to make it look like the button*/
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;

		box-shadow: 1px 2px 7px black;
		height: 12em;
	}
	/*need to somehow get rid of these importants*/
	.title.c380 {
		margin: 0.8em 0 0 0.8em !important;
	}

	.careline.c380 {
		font-size: 17px;
	}

	.c140 {
		margin: 1.5em !important;
	}

	.c140.left {
		width: auto;
	} 

	.footer .alignright {
		float: right;
		width: 18%;
	}
}

@media (max-width: 700px) {
    .white {
        width: 96%;
    margin: 3% 2% 0 2%;
    }

    #header .careline {
        margin: 1% 4% 1% 0;
        float: right;
        width: 26em;
        text-align: center;
    }

    #header .careline .caretitle {
        float: left;
        margin-right: 0.5em;
    }

    #header .careline .caretitle {
        float: left;
    }

    #header .menu .module ul.menu {
        margin: -0.7% 5% 0 4%;
    }

    .modheader.standard {
        background-size: 19%;
        background-position: 123% -17%;
    }

    .footer {
        height: 16em;
    }

    .footer .title.c380 {
        width: auto;
    }

    .footer .careline.c380 {
        font-size: 14px;
        float: left;
        margin: 1em 0 0 2em;
    }

    .footer .alignright {
        width: 100%;
        font-size: 12px;
    }
}