body {
		margin: 1em;
	}

@media (max-width: 800px) {

    #wrapper {
        width: 100%;
    }

    .main {
    	background-size: 100% 100%;
    }

    #header {
    	height: 100%;
		background-position: 100% 100%;
		background-size: 100% 100%;
		width: 100%;
    }
    /*After I have this version clean, I want to make a smaller phone version that puts the careline
    underneath the logo*/
    .white {
    	background-position: 5% 100%;
    	background-size: 65% 90%;
    	width: 100%;
    	height:5em;
    	margin: 0px;
    	position: relative;
    }

    .embelem {
    	background-size: auto 100%;
    	margin: -1em 0px 0px 4%;
    	height: 150%;
    	width: 10%;
    }

    .logo {
    	margin: 1em 0px 0px 10%;
    	background-size: 70% 65%;
		width: 70%;
    }

    .careline {
    	font-size: 10px;
    	margin: -6em 7% 0 0 !important;
    	width: 22%;
    	text-align: center;
    }

}